*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;

    background: #5b8cee;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    flex-direction: column;
    margin:auto;

    width:80%;
    height: 100%;

    background: #83b61e;
}

.drawboard{
    width: 720px;
    height: 720px;
}

.grid-square{
    /*display: inline-block;*/
    float:left;
    background: #eee;
    box-shadow: inset 0 0 0px 1px rgba(0,0,0,.2);
}
.grid-overlay{
    width:100%;
    height:100%;

    background: #000;
    opacity:0;
}
.clear-btn{
    display: flex;

    /*position:relative;
    top:0;

    margin-bottom: 4%;*/
	margin-top:2%;

    width: 150px;
    height: 35px;
    border-radius: 5px;

    font-size:12pt;
    font-family: sans-serif;

    background: #f9880c;
    box-shadow: 0 5px 0 #cf6c00;

    transition: 20ms ease-in;
}
.clear-btn:active{
    top: 5px;
    box-shadow: 0 0px 0 #cf6c00;
}
